In [31]:
import sys
sys.path.append("/home/jarlehti/projects/gradu")

In [32]:
import statsmodels.api as sm
import numpy as np
import os
import sys
import pandas as pd
from src.utils.preprocess_dataset import clean_adult, clean_adult_with_discretization
from src.utils.data_utils import transform_for_classification

In [33]:
CURRENT_FOLDER = os.path.dirname(os.path.dirname(os.path.abspath(__name__)))
SYN_DATA_FOLDER = os.path.join(CURRENT_FOLDER, "data", "synt_datasets")
DATASETS_FOLDER = os.path.join(CURRENT_FOLDER, "data", "datasets")

In [34]:
binary3d_df = pd.read_csv(os.path.join(DATASETS_FOLDER, 'binary3d.csv'))
binary4d_df = pd.read_csv(os.path.join(DATASETS_FOLDER, 'binary4d.csv'))
adult_df = pd.read_csv(os.path.join(DATASETS_FOLDER, 'cleaned_adult_train_data.csv'))

In [35]:
adult_df = clean_adult(adult_df)

In [36]:
adult_df

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,had-capital-gains,had-capital-losses,compensation
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1,0,0
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0,0,0
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0,0,0
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0,0,0
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0,0,0
30158,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,0,0,1
30159,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0,0,0
30160,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0,0,0
30161,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1,0,1

In [37]:
adult_df.dtypes

age                      int64
workclass             category
education-num         category
marital-status        category
occupation            category
relationship          category
race                  category
sex                   category
capital-gain             int64
capital-loss             int64
hours-per-week           int64
native-country        category
had-capital-gains     category
had-capital-losses    category
compensation          category
dtype: object

In [40]:
adult_df.columns

Index(['age', 'workclass', 'education-num', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country', 'had-capital-gains',
       'had-capital-losses', 'compensation'],
      dtype='object')

In [23]:
adult_transformed = transform_for_classification("adult", adult_df)

In [24]:
adult_transformed

,age,education-num,capital-gain,capital-loss,hours-per-week,had-capital-gains,had-capital-losses,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,compensation
0,39,13,2174,0,40,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,12,0,0,38,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
30158,40,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
30159,58,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
30160,22,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
30161,52,9,15024,0,40,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [25]:
adult_df.columns

Index(['age', 'workclass', 'education-num', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country', 'had-capital-gains',
       'had-capital-losses', 'compensation'],
      dtype='object')

In [26]:
adult_df_dicretized = clean_adult_with_discretization(adult_df, columns=adult_df.columns)

In [27]:
adult_df_dicretized

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,had-capital-gains,had-capital-losses,compensation
0,3,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,4,United-States,1,0,0
1,5,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,0,0,0
2,3,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,4,United-States,0,0,0
3,5,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,4,United-States,0,0,0
4,2,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,4,Cuba,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,2,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,3,United-States,0,0,0
30158,4,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,4,United-States,0,0,1
30159,5,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,4,United-States,0,0,0
30160,2,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,2,United-States,0,0,0
30161,5,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,4,United-States,1,0,1

In [28]:
adult_discretized_transformed = transform_for_classification("adult", adult_df_dicretized)

In [30]:
adult_discretized_transformed.columns

Index(['age', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'had-capital-gains', 'had-capital-losses',
       'workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Private',
       'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc',
       'workclass_State-gov', 'workclass_Without-pay',
       'marital-status_Divorced', 'marital-status_Married-AF-spouse',
       'marital-status_Married-civ-spouse',
       'marital-status_Married-spouse-absent', 'marital-status_Never-married',
       'marital-status_Separated', 'marital-status_Widowed',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'relationship_Husband', 'relationship_Not-in-family',
       'relationship_Other-relative', 'relationship_Own-child',
       'relationship_Unmarried', 'relationship_Wife',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'sex_Female', 'sex_Male',
       'native-country_Cambodia', 'native-country_Canada',
       'native-country_China', 'native-country_Columbia',
       'native-country_Cuba', 'native-country_Dominican-Republic',
       'native-country_Ecuador', 'native-country_El-Salvador',
       'native-country_England', 'native-country_France',
       'native-country_Germany', 'native-country_Greece',
       'native-country_Guatemala', 'native-country_Haiti',
       'native-country_Holand-Netherlands', 'native-country_Honduras',
       'native-country_Hong', 'native-country_Hungary', 'native-country_India',
       'native-country_Iran', 'native-country_Ireland', 'native-country_Italy',
       'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos',
       'native-country_Mexico', 'native-country_Nicaragua',
       'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru',
       'native-country_Philippines', 'native-country_Poland',
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia', 'compensation'],
      dtype='object')

In [ ]:
X_train_adult = adult_df.drop(columns=['compensation'])
y_train_adult = adult_df['compensation']

In [22]:
model = sm.GLM(y_train_adult, X_train_adult, family=sm.families.Binomial())

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).