In [1]:
import sys
sys.path.append("/home/jarlehti/projects/gradu")

In [2]:
import statsmodels.api as sm
import numpy as np
import os
import sys
import pandas as pd
from src.utils.preprocess_dataset import clean_adult, clean_adult_with_discretization
from src.utils.data_utils import transform_for_classification, transform_for_ci_coverage

In [3]:
CURRENT_FOLDER = os.path.dirname(os.path.dirname(os.path.abspath(__name__)))
SYN_DATA_FOLDER = os.path.join(CURRENT_FOLDER, "data", "synt_datasets")
DATASETS_FOLDER = os.path.join(CURRENT_FOLDER, "data", "datasets")

In [4]:
binary3d_df = pd.read_csv(os.path.join(DATASETS_FOLDER, 'binary3d.csv'))
binary4d_df = pd.read_csv(os.path.join(DATASETS_FOLDER, 'binary4d.csv'))
adult_df = pd.read_csv(os.path.join(DATASETS_FOLDER, 'cleaned_adult_train_data.csv'))

In [5]:
adult_df = clean_adult(adult_df)

In [6]:
adult_df

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,had-capital-gains,had-capital-losses,compensation
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1,0,0
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0,0,0
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0,0,0
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0,0,0
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0,0,0
30158,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,0,0,1
30159,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0,0,0
30160,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0,0,0
30161,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1,0,1

In [7]:
adult_df.dtypes

age                      int64
workclass             category
education-num         category
marital-status        category
occupation            category
relationship          category
race                  category
sex                   category
capital-gain             int64
capital-loss             int64
hours-per-week           int64
native-country        category
had-capital-gains        int64
had-capital-losses       int64
compensation          category
dtype: object

In [8]:
adult_df.columns

Index(['age', 'workclass', 'education-num', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country', 'had-capital-gains',
       'had-capital-losses', 'compensation'],
      dtype='object')

In [9]:
adult_transformed = transform_for_classification("adult_no_discretization", adult_df)

In [10]:
adult_transformed

,age,education-num,capital-gain,capital-loss,hours-per-week,had-capital-gains,had-capital-losses,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,compensation
0,39,13,2174,0,40,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,12,0,0,38,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
30158,40,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
30159,58,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
30160,22,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
30161,52,9,15024,0,40,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [11]:
adult_transformed.dtypes

age                               int64
education-num                     int64
capital-gain                      int64
capital-loss                      int64
hours-per-week                    int64
                                  ...
native-country_Trinadad&Tobago    uint8
native-country_United-States      uint8
native-country_Vietnam            uint8
native-country_Yugoslavia         uint8
compensation                      int64
Length: 90, dtype: object

In [12]:
adult_df.columns

Index(['age', 'workclass', 'education-num', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country', 'had-capital-gains',
       'had-capital-losses', 'compensation'],
      dtype='object')

In [13]:
adult_df_dicretized = clean_adult_with_discretization(adult_df, columns=adult_df.columns)

In [14]:
adult_df_dicretized

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,had-capital-gains,had-capital-losses,compensation
0,30 - 40,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40 - 50,United-States,1,0,0
1,50 - 60,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,10 - 20,United-States,0,0,0
2,30 - 40,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40 - 50,United-States,0,0,0
3,50 - 60,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40 - 50,United-States,0,0,0
4,20 - 30,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40 - 50,Cuba,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,20 - 30,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,30 - 40,United-States,0,0,0
30158,40 - 50,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40 - 50,United-States,0,0,1
30159,50 - 60,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40 - 50,United-States,0,0,0
30160,20 - 30,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20 - 30,United-States,0,0,0
30161,50 - 60,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40 - 50,United-States,1,0,1

In [15]:
adult_discretized_transformed = transform_for_classification("adult_high_discretization", adult_df_dicretized)

In [16]:
adult_discretized_transformed.columns

Index(['capital-gain', 'capital-loss', 'had-capital-gains',
       'had-capital-losses', 'age_0 - 10', 'age_10 - 20', 'age_20 - 30',
       'age_30 - 40', 'age_40 - 50', 'age_50 - 60',
       ...
       'native-country_Puerto-Rico', 'native-country_Scotland',
       'native-country_South', 'native-country_Taiwan',
       'native-country_Thailand', 'native-country_Trinadad&Tobago',
       'native-country_United-States', 'native-country_Vietnam',
       'native-country_Yugoslavia', 'compensation'],
      dtype='object', length=123)

In [17]:
X_train_adult = adult_df.drop(columns=['compensation'])
y_train_adult = adult_df['compensation']

In [18]:
model = sm.GLM(y_train_adult, X_train_adult, family=sm.families.Binomial())

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [19]:
adult_df_dicretized_ci = transform_for_ci_coverage("adult_high_discretization", adult_df_dicretized)

In [20]:
adult_df_dicretized_ci

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,had-capital-gains,had-capital-losses,compensation
0,3,5,12,4,0,1,4,1,2174,0,4,38,1,0,0
1,5,4,12,2,3,0,4,1,0,0,1,38,0,0,0
2,3,2,8,0,5,1,4,1,0,0,4,38,0,0,0
3,5,2,6,2,5,0,2,1,0,0,4,38,0,0,0
4,2,2,12,2,9,5,2,0,0,0,4,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,2,2,11,2,12,5,4,0,0,0,3,38,0,0,0
30158,4,2,8,2,6,0,4,1,0,0,4,38,0,0,1
30159,5,2,8,6,0,4,4,0,0,0,4,38,0,0,0
30160,2,2,8,4,0,3,4,1,0,0,2,38,0,0,0
30161,5,3,8,2,3,5,4,0,15024,0,4,38,1,0,1

In [21]:
adult_df_dicretized_ci.dtypes

age                    int8
workclass              int8
education-num          int8
marital-status         int8
occupation             int8
relationship           int8
race                   int8
sex                    int8
capital-gain          int64
capital-loss          int64
hours-per-week         int8
native-country         int8
had-capital-gains     int64
had-capital-losses    int64
compensation          int64
dtype: object